{% extends 'books/base.html' %}
{% block title %}ADDRESS{% endblock title %}
{% block content %}
<section class="row" style="margin-top:20px">
<div class="col-sm-12 col-md-6 p-5" style="text-align: right" >
<h4>آدرس های موجود</h4>
    <br>
{% for add in addresses %}
<div class="card">
    <div class="card-header">

    <li><a href="{%url 'record' add.pk %}">{{ add.province }}</a></li>
        <p>{{add.city}}</p>
        <p>{{add.postal_code}}</p>
        <p>{{add.full_address}}</p>
    </div>
    </div>
{% endfor %}
 </div>
 <div class="col-sm-12 col-md-6 p-5" style="text-align: right">
    <h2>آدرس جدید</h2>
     <br>
    <form action="" method="post">
            {% csrf_token %}
        <input type="text" name="province" class="form-control" id="inputAddress1" style="text-align: right" placeholder="...استان را وارد کنید">
        <input type="text" name="city" class="form-control" id="inputAddress2" style="text-align: right" placeholder=" ...شهرستان را وارد کنید">
        <input type="text" name="postal_code" class="form-control" id="inputAddress3" style="text-align: right" placeholder="...کد پستی را وارد کنید">
        <input type="text" name="full_address" class="form-control" id="inputAddress4" style="text-align: right" placeholder="...آدرس کامل را وارد کنید">
        <br>
        <br>
            <div style="text-align: left">
                <button class="btn btn-success ml-2" type="submit">افزودن آدرس</button>
            </div>

        </form>

</div>

</section>
{% endblock content %}
