{% extends "books/base.html" %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'Book/css/base.css'%}">
{% endblock css%}
{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
        <br>
    <h2>فاکتور </h2>
        <br>
        <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">وضعیت</th>
            <th scope="col">زمان خرید</th>
            <th scope="col">آدرس</th>
            <th scope="col">قیمت</th>
            <th scope="col">شماره سفارش </th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>{{status}}</td>
            <td>{{time}}</td>
            <td >{{ address }}
            </td>
            <td>{{ total }}</td>
            <td>{{ order }}</td>
        </tr>

        </tbody>
    </table>
        <br>

        <br>
        <a class='btn btn-primary float-right' id="ordritembtn" href="/"
        style="text-align:left">بازگشت</a>

    </div>

    </div>
  </main>

{% endblock content %}

{% block js%}
      <script src="{% static 'Book/JS/main.js'%}"></script>
{% endblock js%}
