{% extends "staff/base.html" %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'Staff/css/base.css'%}">
{% endblock css%}
{% block content %}
      <div >
          <br>
          <h2>ویرایش دسته</h2>
          <div class=" row justify-content-start " >
           {% for cat in object_list %}
             <div class=" card-header col-2 p-5 m-5" id="box-book" style="background-color:#00ffbf" >
            <a href="{% url 'update_cat' cat.id %}">{{ cat.name |capfirst }}</a>
                 <br>
             </div>
          {% endfor %}
          </div>
      </div>
{% endblock content %}