{% extends "books/base.html" %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'Book/css/base.css'%}">
{% endblock css%}
{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
        <br>
    <h2>سفارشات </h2>
        <br>
        <br>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th scope="col">قیمت با تخفیف</th>
            <th scope="col">تعداد</th>
            <th scope="col">قیمت</th>
            <th scope="col">عنوان کتاب</th>
            <th scope="col">#</th>
        </tr>
        </thead>
         {% for order_item in object.items.all %}
        <tr><td>
             <a style='color: red;' href="{% url 'remove-from-cart' order_item.item.slug %}">
                <i class="fas fa-trash float-right"></i>
            </a>
            </td>
             <td>
            {% if order_item.item.discount_price %}
                {{ order_item.get_total_discount_item_price }}
                <span class="badge badge-primary">Saving {{ order_item.get_amount_saved }}</span>
            {% else %}
                {{ order_item.get_total_item_price }}
            {% endif %}
            </td>
              <td>
                <a href="{% url 'remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>{{ order_item.item.price }}</td>
            <td>{{ order_item.item.title }}</td>
            <th scope="row">{{ forloop.counter }}</th>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>

        {% endfor %}

        </tbody>
    </table>

        <br>
        <a class='btn btn-primary float-left' href='/'>ادامه خرید</a>
  <a class='btn btn-primary float-right' id="ordritembtn" href="{% url 'Complete' %}"
        style="text-align:left">تکمیل خرید</a>
    </div>

    </div>
  </main>

{% endblock content %}

{% block js%}
      <script src="{% static 'Book/JS/main.js'%}"></script>
{% endblock js%}
