{% extends "books/base.html" %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'Book/css/base.css'%}">
{% endblock css%}
{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
        <br>
    <h2>سفارشات </h2>
        <br>
        <br>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th scope="col">قیمت بااعمال تخفیف</th>
<!--            <th scope="col">تعداد</th>-->
            <th scope="col">قیمت</th>
            <th scope="col">نام کتاب</th>
            <th scope="col">#</th>
        </tr>
        </thead>
        <tbody>
        {% for t ,p,pd in listzip %}

        <tr>
            <td>
                <a href="{% url 'delete' t %}">
                <i class="fas fa-trash float-right"></i>
                    </a>
            </td>
            <td >{{ pd }}

            </td>
            <td>{{ p }}</td>
            <td>{{ t }}</td>
            <th scope="row">{{ forloop.counter }}</th>

        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>

        {% endfor %}

        </tbody>
    </table>

        <br>
        <div style="text-align:left">
        <a class='btn btn-primary float-right' id="ordritembtn" href="{% url 'Complete' %}"
        style="text-align:left">تکمیل فرایند خرید</a>
        </div>

    </div>

    </div>
  </main>

{% endblock content %}

{% block js%}
      <script src="{% static 'Book/JS/main.js'%}"></script>
{% endblock js%}
